<!DOCTYPE html>
<html>
<head>
    <title>TODO supply a title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="vue-prod.js"></script>
</head>
<body>
<div id="app">
    <main-app></main-app>
</div>
<script>
    let operatorPropertyConfig = nodeConfig.properties[1].nested[0];
    let valuePropertyConfig = nodeConfig.properties[1].nested[1];

    Vue.component('condition-item', {
        props: {condition: Object, index: Number},
        template:
            '<div>' +
            '<select v-model="condition.operator">' +
            '  <option v-for="(key, value) in operators" v-bind:value="key">' +
            '    {{ value }}' +
            '  </option>\n' +
            '</select>' +
            '<input v-model="condition.value">' +
            ' -> {{index+1}} ' +
            '<button v-on:click="$emit(\'delete\')">Delete</button>' +
            '</div>',
        data() {
            return {
                operators: operatorPropertyConfig.variants
            };
        }
    });


    Vue.component('main-app', {
        template:
            '<div>' +
            '<div>Property: <input v-model="property"><br></div>' +
            '<div>' +
            '<div v-for="(condition, index) in conditions"><condition-item v-on:delete="deleteCondition(index)" :condition="condition" :index="index"></condition-item></div>' +
            '</div>' +
            '<button v-on:click="addCondition()">Add</button>' +
            '</div>',
        data() {
            return {
                property: node.properties.property,
                conditions: node.properties.condition,
                outputs: node.outputs
            }
        },
        methods: {
            addCondition: function () {
                this.conditions.push({
                    operator: operatorPropertyConfig.defaultValue,
                    value: valuePropertyConfig.defaultValue
                })
                this.outputs.push([])
            },
            deleteCondition: function (index) {
                this.conditions.splice(index, 1)
                this.outputs.splice(index, 1)
            }

        },
        watch: {
            property: function () {
                node.properties.property = this.property
            },
            conditions: function () {
                node.properties.condition = this.conditions
            }
        },

    })

    var app = new Vue({
        el: '#app'
    })
</script>
</body>
</html>
